* {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Josefin Slab', serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(https://www.kingarthurbaking.com/sites/default/files/inline-images/cafe.jpg);
    background-size: cover;
    background-position: center;
}

/* Header & Navbar */

header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 2rem;
    color: white;
}

.title_icon {
    display: left;
}

.site_title {
    font-weight: bold;
}

.navlist li {
    text-decoration: none;
    display: inline-block;
    color: white;
    margin: 20px;
    position: relative;
}

.navlist li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.15rem;
    font-weight: 800;
    letter-spacing: .1rem;
}

.navlist li a::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ab9078;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
} 

.navlist li a:hover::after {
    width: 100%;
}

/* General Font/Heading */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

.mission_statement {
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
}
